header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; /* Cambia este color según tus necesidades */
    height: 100px; /* Cambia esta altura según tus necesidades */
    padding: 0 20px;
  }
  
  .logo {
    margin-left: 20px; /* Ajusta el margen según tus necesidades */
  }
  
  nav {
    background-color: black;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    padding: 0 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  .content {
    /* Estilos para el contenido de la página */
  }
  