/*Styles web*/

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-weight: lighter;
}

/* Header Styles*/

header {
  display: flex;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 10vh;
  color: bisque;
  justify-content: space-around;
}

.logo img {
  max-height: 60px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  color: bisque;
}

nav li {
  margin: 20px;
  position: relative;
}


nav ul ul {
  display: none;
  position: absolute;
  color: chocolate;
  padding: 10px;
}

nav ul li:hover>ul {
  display: flex;
  flex-direction: column;
}

.backgroud-1 {
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Imagenes/osteria_mozza_singapore.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backgroud-1 h2,
.backgroud-1 h1,
.backgroud-1 h3 {
  color: white;
  padding-bottom: 30px;
}

.backgroud-1 h1 {
  text-transform: uppercase;
  font-size: 10em;

}

.backgroud-1 .mozza {
  color: chocolate;
}

.backgroud-1 h2,
.backgroud-1 h3 {
  font-size: 3em;
  text-transform: capitalize;
  font-style: italic;
}

/*COVER*/

.background-2 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(Imagenes/imagen-plantas.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-2 .box {
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.background-2 h2,
.background-2 p {
  color: white;
  padding: 0 10%;
}

.background-2 h2 {
  font-size: 50px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.imagen-1,
.imagen-2 {
  position: absolute;
  width: 200px;
  height: auto;
}

.imagen-1 {
  top: 15%;
  right: 68%;
}

.imagen-2 {
  bottom: 15%;
  left: 68%;
  transform: rotate(160deg);
}

/*GRID*/

.background-grid {
  width: 100vw;
  height: 100vh;
  background-image: url(Imagenes/galeria.jpg);
  background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  padding: 200px;
}

.item-grid img {
  width: 100%;
  height: auto;
  border: 1px solid chocolate;
  transition: transform 0.3s ease;
  padding: 10px;
}

.item-grid:hover img {
  transform: scale(1.3);
}

/*CARTA*/

.catalogo {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 40px;
  position: relative;
}

.catalogo::before,
.catalogo::after {
  content: "";
  position: absolute;
  top: 75%;
  width: 10%;
  border-bottom: 1px solid #000;

}

.catalogo::before {
  right: 55%;
}

.catalogo::after {
  left: 55%;
}


.menu {
  display: flex;
  justify-content: center;
  padding: 20px;
}

ul {
  display: flex;
}

li {
  margin-right: 20px;
}

a:hover {
  color: chocolate;
}

.background-3 {
  height: 100vh;
  width: 100vw;
  background-image: url(Imagenes/FondoMenujpg.jpg);
}

.back-menu {
  width: 40%;
  box-sizing: border-box;
  margin: 5%;
  padding: 20px;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}

.back-menu:nth-child(2) {
  float: right;
}

.back-menu h2 {
  text-align: center;
}

.tabla-productos {
  width: 100%;
}

.tabla-productos tr td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.tabla-productos td.precio {
  text-align: right;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.boton {
  background-color: white;
  padding: 15px 30px;
  border: 1px solid chocolate;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: chocolate;
  border: 1px solid black;
}

/*FORMULARIO*/

.background-4 {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(Imagenes/FondoGrid.jpg);
  background-size: cover;

}

.reserva {
  height: 10%;
  width: 100%;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  padding-top: 50px;
  font-size: 30px;
  color: white;
 
}

.reserva::before,
.reserva::after {
  content: "";
  position: absolute;
  top: 58%;
  width: 15%;
  border-bottom: 2px solid #ffffff;
}

.reserva::before {
  right: 60%;
}

.reserva::after {
  left: 60%;
}

form,
.info-reserva {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

form {
  float: left;
  padding-left: 100px;
  color: chocolate;
  padding-top: 150px;
}

.info-reserva {
  padding-top: 200px;
  float: right;
  color: white;
}

fieldset {
  border: none;
}

legend {
 display: none;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #ffffff;
}

select {
  width: 100%;
  padding: 10px;
  border:none; 
  margin-bottom: 20px;
}

button {
  background-color: chocolate;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}

select:hover {
  cursor: pointer;
}

p {
  padding: 20px;
}

h2 {
  color: chocolate;
}

p {
  font-style: italic;
}

