/* Header Styles*/

header {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem 5rem;
  height: 3rem;
}

.logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 9rem;
  height: auto;
}

header nav {
  margin-left: auto;
}

header nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
  margin-left: 1rem;
  padding: 5px 10px;
  text-decoration: none;
  color: bisque;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul li a:hover {
  background-color: chocolate;
  color: black;
  border-radius: 1rem;
}

/* COVER*/

.foto-restaurante {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin: auto;
  overflow: hidden;
  max-width: 100%;
}

.texto {
  position: absolute;
  width: 100%;
  height: 135%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.texto h2 {
  margin: 0.5rem;
  font-size: 2.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.texto h1 .mozza {
  color: chocolate;
}

.texto h1 {
  margin: 0.5rem;
  font-size: 5rem;
  font-family: "Dancing Script";
}
.texto h3 {
  margin: 0.5rem;
  font-size: 1.75rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* INFO*/

.foto-plantas {
  position: relative;
  text-align: center;
}

.foto-plantas img {
  position: relative;
  display: block;
  height: 690px;
  width: 100%;
  object-fit: cover;
}

.texto-concepto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: justify;
  background-color: black;
  opacity: 0.9;
  border-radius: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5%;
}

.texto-h2 {
  text-align: center;
  color: chocolate;
  position: relative;
  letter-spacing: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.texto-h2::before,
.texto-h2::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100px;
  height: 1px;
  background-color: chocolate;
}

.texto-h2::before {
  left: 0;
  transform: translateY(-50%);
}

.texto-h2::after {
  right: 0;
  transform: translateY(-50%);
}

.border-left {
  position: absolute;
  top: 10%;
  left: 20%;
}

.border-left img {
  width: 50%;
  height: auto;
}
.border-right {
  position: absolute;
  top: 400px;
  left: 900px;
}
.border-right img {
  height: 200px;
  width: 200px;
  transform: rotate(-75deg);
}

/* GRID */

.grid-fondo {
  position: relative;
  width: 100%;
  height: 50vw;
  overflow: hidden;
}

.grid-fondo img {
  width: 100%;
  height: auto;
}

.grid-fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

.galeria1 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.galeria1 img {
  width: 40%;
  height: auto;
  border: 3px solid white;
  padding: 10px;
}

.galeria2 {
  position: absolute;
  top: 55%;
  left: 10%;
}

.galeria2 img {
  width: 50%;
  height: auto;
  border: 3px solid green;
  padding: 10px;
}

.galeria3 {
  position: absolute;
  top: 20%;
  left: 37%;
}

.galeria3 img {
  width: 50%;
  height: auto;
  border: 3px solid cornflowerblue;
  padding: 10px;
}

.galeria4 {
  position: absolute;
  top: 57%;
  left: 40%;
}

.galeria4 img {
  width: 55%;
  height: auto;
  border: 3px solid yellow;
  padding: 10px;
}

.galeria5 {
  position: absolute;
  top: 20%;
  left: 70%;
}

.galeria5 img {
  width: 60%;
  height: auto;
  border: 3px solid rgb(112, 218, 147);
  padding: 10px;
}

.galeria6 {
  position: absolute;
  top: 55%;
  left: 70%;
}

.galeria6 img {
  width: 70%;
  height: auto;
  border: 3px solid orchid;
  padding: 10px;
}

/*CARTA*/

.catalogo {
  padding: 10px;
  position: absolute;
  text-align: center;
  font-family: monospace;
  font-size: larger;
  color: chocolate;
  letter-spacing: 10px;
  position: relative;
}

.catalogo::before,
.catalogo::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10%;
  height: 1px;
  background-color: chocolate;
}

.catalogo::before {
  right: 35%;
}

.catalogo::after {
  left: 34%;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.menu ul li a:hover {
  background-color: chocolate;
  color: black;
  border-radius: 1rem;
}
